<div class="site-header-wrap site-header-wrap--desktop">
    <nav class="navbar navbar-expand-md">
      <a class="navbar-brand" href="home"><strong> GMDC </strong></a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" >Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" >About</a>
        </li>
      </ul>
      <div class="collapse navbar-collapse" id="navbarNav">
  
      </div>
      <div class="right">
        <ul class="navbar-nav mr-auto">
          
          <li class="nav-item">
            <a class="nav-link" href="login" style="font-size: 20px; color: black;font-family: Century, serif"><strong>Login</strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="signup" style="font-size: larger; color: black;font-family: Century, serif"><strong>SignUp</strong></a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  
    <div class="container-fluid pt-4 px-2">
  <div  class="col-12 text-center" style="margin-top:100px">
    <h1 style="margin-top:120px "><strong>Creating opportunities for students...</strong> </h1>
  <p style="margin-top:50px ;font-size: 30px!important">Welcome to our US-based employment platform! Where we are dedicated to connecting students with virtual projects,</p>
  <p style="font-size: 30px!important">while providing opportunities for growth, development, and fair compensation.</p>
  <div class="bg-image width-100" style="margin:40px "><img width="100%" height='100%' src="assets/img/12345.jpg" alt="Logo"></div>
  </div>
  </div>  
  
